<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="bg-img">
<div class="content">

<div class="container" >
  <div class="row ">
    
    <div class="col-md-5">

    
    
    
  <h2 style="text-align:center"><strong>Payment</strong></h2>
  <br>
  <form #loginform="ngForm"  (ngSubmit)="submit()" >

    <div class="form-group">
      <label for="name"><p style="font-size:20px;">Name</p></label>
      <input type="text" class="form-control"  placeholder="" name="name" [(ngModel)]="user.name">
    </div>

    <div class="form-group">
        <label for="email"><p style="font-size:20px;">Email</p></label>
        <input type="email" class="form-control"  placeholder="" name="email" [(ngModel)]="user.email">
      </div>

      <div class="form-group">
        <label for="Phone_Number"><p style="font-size:20px;">Phone Number</p></label>
        <input type="tel" class="form-control"  placeholder="" name="Phone_Number" [(ngModel)]="user.Phone_Number">
      </div>

      <div class="form-group">
        <label for="description"><p style="font-size:20px;">description</p></label>
        <input type="text" class="form-control"  placeholder="" name="description" [(ngModel)]="user.description">
      </div>
    <button type="submit" class="btn btn-default" ><b>Submit</b></button>
  </form>
  
</div>
</div>
</div>
</div>
</div>