
<html>
    <head>
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
</head>
  
<body>
    <div id="navlist">
        <a class="logo" style="color:white"><b>Flow</b> Business</a>
        <div class="navlist-right">
        <a href="/home">Home</a>
        <a href="/product">Product</a>
        <!-- <a href="/login">Login</a> -->
        </div>
    </div>
    <br>
    <br>
    <br>
   
</body>

</html>
<router-outlet></router-outlet>

<footer class="site-footer">
    <div class="container">
      <div class="row footers">
        <div class="col-sm-12 col-md-6">
          <h6>Flow Business</h6>
          <p class="text-justify site">Introducing Flow Business – the technology and communications partner designed for local businesses. With fast and reliable connectivity, we're ready to keep your business growing. Helping you come back stronger—and more connected—than before.</p>
        </div>

        <div class="col-sm-6 col-md-3"></div>
        <div class="col-xs-6 col-md-3 ">
          <h6>Quick Links</h6>
          <ul class="footer-links ">
            <li><a  href="/home">Home</a></li>
            <li ><a  href="/product">Product</a></li>
            
          </ul>
        </div>
      </div>
      
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text site">Copyright © 2022. Cable & Wireless Communications Limited.
          </p>
        </div>


      </div>
    </div>
</footer>