<html>
    <head>
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
</head>
  

<div class="container">
  <div class="home">
<div class="col-sm-8 home_img">
  <img src="https://th.bing.com/th/id/OIP.oNZuk46cCHg2Xbc5K8oX7QAAAA?pid=ImgDet&rs=1" >
</div>
<div class="col-sm-4">
  <div class="home_txt">
      <h2 class="home_title">Your life fully connected. Wherever you are, whenever you want.</h2>
      <p class="home_desc">Flow has the best options for your Mobile. Check it out!</p>
      <a href="/product" class="btn">Product List</a>
  </div>
</div>
</div>
</div>




</html>
